.container{
    background-color:#cfcfcf;
    margin-left:10px;
    padding: 20px;
    display:flex;
    flex-direction:column;
    
}

.container > button{
    background-color:rgb(255, 58, 58);
    width: 20%;
    margin: 5px auto
    
}

.container_skills{
    display: flex;
    justify-content: space-around; 
}

.container_skills > span{
    background-color: rgb(81, 163, 29);
    border-radius: 10px;
    font-size: 15px;
    width: 70%;
    padding-top:10px;
    color:#fff;
    margin: 5px;   
    
}


.container_sub{
    display: flex;
    flex-direction: column;    
    font-size: 10px;
    justify-content:space-between
}

.container_sub > h2{
    margin-left: 10px;
    margin-top: -3px;
    text-align: left ;
   
   
    
}

.name{
    background-color:#f5d45e;
    position:relative;
    top:-30px;
    
}