.boton_rojo {
  background-color: #d5a106; /* Color de fondo amarillo */
  color: #ffffff; /* Texto en un tono oscuro para contraste */
  padding: 10px 20px; /* Relleno alrededor del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 20px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transición suave en el cambio de color */
  margin-bottom: 30px;
  width: 40%;
  }
  
  /* Cambia el color cuando el botón está enfocado o se pasa el ratón por encima */
  .boton_rojo:hover,
  .boton_rojo:focus {
    background-color: #ffca28; /* Cambia a un tono más claro de amarillo */
  color: #333; /* Texto en un tono oscuro para contraste */
  }


  .linkButton{
    margin-left: 10px;
  }

  .container_nav{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .container_navlink {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px
  }

  .logout{
    background-color: #000;
    color: #fff;
    margin-left:5px;
    width: 100%;
    padding: 10px;
  }

  